@model IEnumerable<SimpleWebApp.Models.VisitorInfo>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleWebApp</title>
    <style type="text/css">
        .table{
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Welcome Visitor</h1>
    <table border="1" class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recent)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recent)
            </td>
        </tr>
    }    
    </table>
    <p>
    @using (Html.BeginForm())
    {
        <b>Name: </b>
        <input type="text" name="nameToRegister" required="required" />
        <input type="submit" value="Register" />
    }
    </p>
</body>
</html>
